@define-color bg #101010;
@define-color fg #c6c6c6;
@define-color fg_secondary #4E4E4E;
@define-color accent #fab387;
@define-color dark #282828;

* {
  border: none;
  border-radius: 1px;
  font-family: "BlexMono Nerd Font";
  font-size: 13px;
  min-height: 0;
}

tooltip {
  background: @bg;
  border-radius: 16px;
  padding: 5px 12px;
  margin: 5px;
}

tooltip label {
  color: @fg;
  font-weight: bold;
  font-family: "BlexMono Nerd Font";
  font-size: 16px;
}

#workspaces {
  background: @bg;
  margin: 5px 5px;
  padding: 8px 5px;
  border-radius: 16px;
}

#workspaces button {
  background: @dark;
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @fg_secondary;
  border-radius: 16px;
  min-width: 50px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  border-radius: 16px;
  min-width: 50px;
  transition: all 0.3s ease-in-out;
}

#clock,
#battery,
#network {
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  border: solid 0px #58587c;
}

#tray {
  margin: 5px;
  border-radius: 28px;
  padding: 0px 12px;
}

#clock,
#battery,
#network,
#pulseaudio,
#window,
#hyprland-window,
#bluetooth,
#custom-notify,
#custom-playerctl,
#custom-playerlabel,
#custom-search {
  background: @bg;
  border-radius: 16px;
  padding: 5px 12px;
  margin: 5px;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  color: @fg;
}

#battery.warning:not(.charging) {
  color: @accent;
}

#pulseaudio {
  border-radius: 16px 0 0 16px; /* rounded left */
  padding: 5px 8px;
  margin: 5px 0 5px 5px;
}

#bluetooth {
  border-radius: 0 16px 16px 0; /* rounded right */
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
}

#custom-playerctl {
  border-radius: 16px 0 0 16px; /* rounded left */
  padding: 5px 8px;
  margin: 5px 0 5px 5px;
}

#custom-playerlabel {
  border-radius: 0 16px 16px 0; /* rounded right */
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
}

#battery.charging {
  color: #89dceb;
}

.modules-left {
  padding: 0 0 10px 40px;
}

.modules-center {
  padding: 0 0 10px 0;
}

.modules-right {
  padding: 0 40px 10px 0;
}

window#waybar {
  background-color: transparent;
}
