[Unit]
Description=Tmux detached start

[Service]
Type=forking
Environment="TERM=xterm-256color"
Environment="SHELL=/bin/zsh"
ExecStart=/usr/bin/tmux new-session -s master -d
ExecStop=/usr/bin/tmux kill-session -t master
Restart=on-failure

[Install]
WantedBy=default.target
