[general]
default_module = "ch"
empty_module = "app"
exec_cmd = "sh -c" 
vi_mode = true 
esc_to_abort = true 
clear_screen_after_execution = true
loop_mode = false 
external_editor = "nvim" # if set, press ctrl+e (or v in vi normal mode) to edit prompt in specified program
#callback = "" # if set, will run after module execution; for example, calling swaymsg to adjust window size
cheatsheet_entry = "?"
cheatsheet_viewer = """
hyprctl dispatch resizeactive exact 490 390 &>/dev/null
hyprctl dispatch centerwindow &>/dev/null
bat --paging always --style snip &>/dev/null
hyprctl dispatch resizeactive exact 490 300 &>/dev/null
hyprctl dispatch centerwindow &>/dev/null
clear
""" 

# ANSI color codes are allowed. However, \x1b should be replaced with \u001B, because the rust toml crate cannot read \x as an escaped character
[interface]
header = """
 \u001B[34;1m \u001B[0m """
list_prefix = "    "
selection_prefix = " \u001B[31;1m > "
indicator_with_arg_module = ""
indicator_no_arg_module = ""
place_holder = "type & search"
# default_module_message = "    \u001B[33msearch\u001B[0m the internet"
default_module_message = "    \u001B[33mget\u001B[0m cheet sheet"
suggestion_mode = "list"
suggestion_lines = 4
prefix_color = "\u001B[33m"
prefix_padding = 3
description_color = "\u001B[39m"
place_holder_color = "\u001B[90m"
hint_color = "\u001B[90m"
move_interface_down = 1
move_interface_right = 1

# modules are defined as followed
# otter-launcher runs cmd as a child process. Use "setsid -f" to unbind or fork the launched command, like normal shell scripting. While unbinding is useful for running gui programs, otter-launcher should retain the ability to run text-based programs.
[[modules]]
description = "search with google"
prefix = "gg"
cmd = "xdg-open https://www.google.com/search?q='{}'" # try wm's exec command for unbinding if 'setsid -f' does not work as expected, eg. 'hyprctl dispatch exec'
with_argument = true # if true, {} in cmd will be replaced with user input. if not explicitly set, taken as false.
url_encode = true # should be true when calling webpages; this ensures special characters in url being readable to browsers; taken as false if not explicitly set
unbind_proc = true # run cmd in a forked shell as opposed to as a child process; useful for launching gui programs; taken as false if not explicitly set

[[modules]]
description = "sheet sheet"
with_argument = true
prefix = "ch"
cmd = """
hyprctl dispatch resizeactive exact 1200 800 &>/dev/null
hyprctl dispatch centerwindow &>/dev/null
curl "cht.sh/{}" 2>/dev/null | bat --paging always --style snip 2>/dev/null
"""


[[modules]]
description = "translate"
with_argument = true 
prefix = "tr"
cmd = """ 
LANG="ru"
string="{}"
len=${#string}
if (( len > 20 )); then
  hyprctl dispatch resizeactive exact 650 300 &>/dev/null
  hyprctl dispatch centerwindow &>/dev/null
fi
{
  echo "$(trans -b "$string")"
  echo -e "$(trans -b :"$LANG" "$string")"
} | bat --paging always --style snip 2>/dev/null
""" 

[[modules]]
description = "launch program"
prefix = "app"
cmd = """
hyprctl dispatch resizeactive exact 580 420 &>/dev/null
hyprctl dispatch centerwindow &>/dev/null
hyprctl dispatch pin &>/dev/null
desktop_file() {
find /usr/share/applications -name "*.desktop" 2>/dev/null
find /usr/local/share/applications -name "*.desktop" 2>/dev/null
find "$HOME/.local/share/applications" -name "*.desktop" 2>/dev/null
find /var/lib/flatpak/exports/share/applications -name "*.desktop" 2>/dev/null
find "$HOME/.local/share/flatpak/exports/share/applications" -name "*.desktop" 2>/dev/null
}
selected="$(desktop_file | sed 's/.desktop$//g' | sort | fzf -m -d / --with-nth -1 --reverse --padding 1,3 --prompt 'Launch Apps: ')"
[ -z "$selected" ] && exit
echo "$selected" | while read -r line ; do setsid -f gtk-launch "$(basename $line)"; done
"""

[[modules]]
description = "volume control"
prefix = "vo"
cmd = """
hyprctl dispatch resizeactive exact 1280 720 &>/dev/null
hyprctl dispatch centerwindow &>/dev/null
hyprctl dispatch pin &>/dev/null
pulsemixer 2>/dev/null
"""

[[modules]]
description = "bluetooth control"
prefix = "bl"
cmd = """
hyprctl dispatch resizeactive exact 800 500 &>/dev/null
hyprctl dispatch centerwindow &>/dev/null
hyprctl dispatch pin &>/dev/null
bluetuith 2>/dev/null
"""

[[modules]]
description = "clipboard history"
prefix = "cl"
cmd = """
hyprctl dispatch resizeactive exact 580 420 &>/dev/null
hyprctl dispatch centerwindow &>/dev/null
hyprctl dispatch pin &>/dev/null
cliphist list | fzf --no-sort --no-preview | cliphist decode | wl-copy
"""

[[modules]]
description = "power menu"
prefix = "po"
cmd = """
function power {
if [[ -n $1 ]]; then
case $1 in
"lock") setsid hyprlock &>/dev/null | echo "\n  \u001B[34;1m \u001B[0m Lock..." ;;
"suspend") systemctl suspend ;;
"reboot") systemctl reboot ;;
"shutdown") systemctl poweroff ;;
esac fi }
power $(echo -e 'lock\nsuspend\nreboot\nshutdown' | fzf --reverse --no-scrollbar --padding 1,3 --prompt 'Power Menu: ' | tail -1)
"""

[[modules]]
description = "shell command"
prefix = "sh"
cmd = """
$(printf $TERMINAL | sed 's/xterm-//g') -e $exec_cmd "{}"
"""
with_argument = true
unbind_proc = true
